<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Face Recognition Attendance Portal</title>

    <!-- Add Favicon Image -->
    <link rel="icon" type="image/x-icon" href="static/layout/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="overflow-x: hidden;">
    <div class="image" style="background-image: url(static/layout/banner-bgimg.jpg); height: 8rem;">

        <h2 style="color: white; text-align: center; padding-top: 2rem; font-weight: 700;">Welcome to the Face Recognition Attendance
            Portal</h2>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#student_dashbord.html" style="color: #0f7685; font-weight: 700">Facial Recognition Attendance
            Portal </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item active" style="margin-right: 1.5rem;">
                    <form action="{% url 'attendance_recognition' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit" name='mybtn2' value={{attendance}}>Mark
                            Attendance</button>
                    </form>
                </li>
                <li class="nav-item" style="margin-right: 1.5rem;">
                    <form action="{% url 'view_attendance' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit" name='mybtn2' value={{View_Att}}>View
                            Attendance</button>
                    </form>
                </li>
                <li class="nav-item" style="margin-right: 1.5rem;">
                    <form action="{% url 'adminpage' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit" name='mybtn2' value={{admin}}>Add New Student
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Mark Your Attendance -->
    <div class="row" style="margin-top: 5rem;">
        <div class="col-sm-4">
            <div class="card" style="margin-left: 1rem; text-align: center;">
                <img src="static/layout/Img.png" style="height: 22.5rem;" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mark Your Attendance</h5>
                    <p class="card-text">Click on the button to Mark Your Attendance via Face Recognition</p>
                    <form action="{% url 'attendance_recognition' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit" name='mybtn2' value={{attendance}}>Mark
                            Attendance</button>
                    </form>
                </div>

            </div>
        </div>


        <!-- To Show the Attendance -->
        <div class="col-sm-4">
            <div class="card " style=" text-align: center;">

                <img src="static/layout/Img2.jpg" style="height: 24rem;" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">View Your Attendance</h5>
                    <p class="card-text">Click on the Attendance to view Attendance</p>
                    <form action="{% url 'view_attendance' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit" name='mybtn2' value={{View_Att}}>View
                            Attendance</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- To Register new person in database by admin -->
        <div class="col-sm-4">
            <div class="card " style=" text-align: center; margin-right: 1rem;">
                <img src="static/layout/Img3.jpg" style="height: 24rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Register New Student</h5>
                    <p class="card-text">Login here to add new student</p>
                    <form action="{% url 'adminpage' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit" name='mybtn2' value={{admin}}>Add New Student
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


{% comment %} Footer {% endcomment %}
<footer class="text-center text-white" style="background-color: #2F8F9D; margin-top: 5rem;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a href="#" class="fa fa-facebook" 
            style="background: #3B5998; color: white;  
            padding: 10px;  
            text-align: center;  
            margin: 5px 2px;  
            font-size: 20px;  
            width: 30px;"></a>

            <!-- Twitter -->
            <a href="#" class="fa fa-twitter"
            style="background: #55ACEE;  
            color: white;  
            padding: 5px;  
            text-align: center;  
            margin: 5px 2px;  
            font-size: 20px;  
            width: 30px;"></a>

            <!-- Google -->
            <a href="#" class="fa fa-google"
            style="background: #dd4b39;  
            color: white;
            padding: 5px;  
            text-align: center;  
            margin: 5px 2px;  
            font-size: 20px;  
            width: 30px;  
            "></a>

            <!-- Instagram -->
            <a href="#" class="fa fa-instagram"
            style="background: rgb(248, 84, 180);  
            color: white;  
            padding: 5px;  
            text-align: center;  
            margin: 5px 2px;  
            font-size: 20px;  
            width: 30px; 
            "></a>

            <!-- Linkedin -->
            <a href="#" class="fa fa-linkedin"
            style="background: #007bb5;  
            color: white; 
            padding: 5px;  
            text-align: center;  
            margin: 5px 2px;  
            font-size: 20px;  
            width: 30px;  
            "></a>

            <!-- Github -->
            <a href="#" class="fa fa-github"
            style="background: black;  
            color: white;
            padding: 5px;  
            text-align: center;  
            margin: 5px 2px;  
            font-size: 20px;  
            width: 30px; " ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); ">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">FaceRecognition.com</a>
    </div>
    <!-- Copyright -->
</footer>

</html>