<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Time</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mark_Zukerberg</td>
      <td>15:48:07</td>
      <td>28/05/2022</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Shikha</td>
      <td>10:48:09</td>
      <td>29/05/2022</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Tajesh</td>
      <td>11:08:25</td>
      <td>29/05/2022</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Elon_Musk</td>
      <td>11:09:53</td>
      <td>29/05/2022</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Bill_Gates</td>
      <td>11:10:57</td>
      <td>29/05/2022</td>
    </tr>
  </tbody>
</table>